body{
  background-color: black;
  color: white;
}
.button,.button1
{
  background-color: rgb(117, 117, 117);
  color: rgb(255, 255, 255);
  width: 50px;
  height: 50px;
  font-weight:600;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 30px;
  cursor: pointer;
}
.button1
{
  background-color: orange;
  color: white;
}